body {
    background-color: #1D1D1D;
    margin: 0;
}

header {
    background-color: #73069E;
    padding: 30px;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: 700;
    box-shadow: 0px 10px 5px #4E046B;
    -webkit-box-shadow: 0px 10px 5px #4E046B;
    -moz-box-shadow: 0px 10px 5px #4E046B;
    position: relative;
    z-index: 999999
}